<div class="box">
    <h2 class="calculator-title">Calculadora de IMC</h2>
    
    <div class="form-group">
        <label class="form-label">Peso (kg)</label>
        <input type="number" class="form-input" [(ngModel)]="peso" placeholder="Ex: 70"/>
    </div>
    
    <div class="form-group">
        <label class="form-label">Altura (m)</label>
        <input type="number" class="form-input" [(ngModel)]="altura" placeholder="Ex: 1.75"/>
    </div>
    
    <button class="calculate-button" (click)="calcular()">Calcular IMC</button>
    
    <div class="result-container" *ngIf="resultado">
        <h3 class="result-title">Seu IMC é:</h3>
        <p class="result-value">{{resultado | number: '1.2-2'}}</p>
    </div>
</div>