.navbar{
    background-color: #1e88e5;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap:18px;
    height: 50px;
    align-items: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.navbar a:hover{
    border-bottom: 1px solid white;
}