<nav>
    <div class="header-title">🥋 TAEKWONDO STORE 🥋</div>
    <div class="header-subtitle">Equipamentos e Acessórios para Artes Marciais</div>
    <ul class="menu-horizontal">
        <li>
            <a routerLink="/produtos">
                <span class="menu-icon">🛒</span>
                <span class="menu-text">Produtos</span>
            </a>
        </li>
        <li>
            <a routerLink="/contato">
                <span class="menu-icon">📞</span>
                <span class="menu-text">Contato</span>
            </a>
        </li>
        <li>
            <a routerLink="/redes-sociais">
                <span class="menu-icon">📱</span>
                <span class="menu-text">Redes Sociais</span>
            </a>
        </li>
    </ul>
</nav>
